/*------------Cuento------------*/
body{overflow-x: hidden;}
body::-webkit-scrollbar {width: 1.5vmin;margin-left: -1.5vmin;}
body::-webkit-scrollbar-track {background: #b1b1b1 !important;}
body::-webkit-scrollbar-thumb {background: #f0f0f0;border-radius: 2vmin;}
.fondo-cuento
{
  background-image: url('../IMG/Recursos/MarVerde.svg');
  background-size: auto;
  background-repeat: no-repeat;
  background-size:cover
}

.btn-contador
{
  color: #f0f0f0;
}

.opc-contador
{
  color: #4b1e0b;
  user-select: none;
  align-self: center;
}

.input-contador
{
  width: 100%;
  height: 100%;
  color: #f0f0f0;
  text-align: center;
  border: none;
  background-color: #DF972A;
}
.input-contador:focus
{
  box-shadow: none;
  outline: none;
}

.btn-contador:focus
{
  width: 5vmin !important;
  color: #f0f0f0;
  box-shadow: none;
  border: 1px solid #f0f0f0;
}

/*para sm*/
@media (max-width:768px)
{ 
  .display-img-sm
  {
    height: 100% !important;width: auto !important;
  }
}

/*para md*/
@media (min-width:768px)
{
  .display-img-md
  {
    height: auto;width: 75.555vmin;
  }
}
.cont-img
{
  background-color: #F0f0f0;
  aspect-ratio: 8 / 9;

}
.imagen-cuento
{
  background-color: #f0f0f0 !important;
  box-shadow: 0px 0px 20px #1111116b;
  aspect-ratio: 8 / 9;
}


.icon
{
    height: 5vmin;
    width: auto;
}


.audio-container
{
    width: 90%;
    height: 5vh;
    margin-left: 5%;
    background-color: #E9A032;
    border-radius: 4vmin;
}

.audio-range
{
    -webkit-appearance: none;
    background: transparent;
    cursor: pointer;
    width:100%
}
input[type="range"]::-webkit-slider-runnable-track {
    background: #4b1e0b;
    height: 0.4vh;
    border-radius:4vh
  }

  input[type="range"]::-webkit-slider-thumb
  {
    -webkit-appearance: none;
    height: 2.5vh;
    width: 2.5vh;
    background-color:#4b1e0b;
    margin-top: -1.05vh;
    border-radius: 100%;
  }
  