.foto
{
    width: 45vmin;
    height: 45vmin;
    z-index: 2;
}
.cont-foto
{
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: ease-in-out 0.4s;
    z-index: 1;
    width: 45vmin;
    height: 45vmin;
    margin-top: 5vw;
    position: relative;
    top: 0px;
    left: 0px;
    transition-delay: 0.3s;
    align-items: center;
}
.cont-foto:hover
{
    width: 70vmin;
    transition-delay: 0s;
}
.hover-foto
{
    transition: ease-in-out 0.3s;
    overflow-y: hidden;
    z-index: 20;
    width: 100%;
    height: 45vmin;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: transparent;
    justify-items: baseline;
    align-items: center;
    padding: 0 !important;
    
}
.hover-foto:hover
{
    background-color: #090909c0;
    overflow-y: scroll;
}
.hover-foto::-webkit-scrollbar {width: 1.5vmin;}
.hover-foto::-webkit-scrollbar-track {background: transparent;}
.hover-foto::-webkit-scrollbar-thumb {background: #f0f0f011;border-radius: 2vmin;}
.div-texto{
    height: 100%;
    width: 100%;
    transition: ease-out 0.3s;
    transition-delay: 0s;
    font-size: 2.5vmin;
    color: transparent;
    padding: 2.5vmin 2vmin;
}
.div-texto:hover{transition-delay: 0.4s;color: #f0f0f0;}
.foto{transition: ease-in-out 0.3s;width: 100%;height: auto;margin-top: 0vmin;transition-delay: 0.3s;}
.cont-foto:hover .foto{transition-delay: 0s;margin-top: 0vmin;}
.fondo-container
{
    background-image: url("../IMG/Recursos/FondoGaleria.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

.contenedor-body
{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 90vh;
}
.contenedor-body::-webkit-scrollbar {width: 1.5vmin;}
.contenedor-body::-webkit-scrollbar-track {background: transparent;}
.contenedor-body::-webkit-scrollbar-thumb {background: #f0f0f0c9;border-radius: 2vmin;}

#tostada
{
    transition: ease-in-out 0.4s;
    font-size: 2vh;
    z-index: 20;
    position: absolute;
    top: 88vh;
    right: -40vh;
    height: 10vh;
    width: 25vh;
    background-color: #E9A032;
    border: solid #da942c;
    box-shadow: 0px 0px 15px #4b47429a;
    border-radius: 2.5vmin;
    text-align: center;
    display: flex;
    align-items: center;
}
#cont-tostada
{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0%;
    overflow: hidden;
}