.fondo
{
  background-image: url('../SVG/MarAzul.svg');
  background-size: auto;
  background-repeat: no-repeat;
  background-size:cover
}


/*para sm*/
@media (max-width:767px)
{ 
  .opc-cont-sm
  {
    justify-content:center;
  }
  .opc-item{margin-left: 0% !important;}
  .container-opc{top: 70vmin !important;}
  .opc-titulo{margin-left: 10% !important;margin-right: 20% !important;color: #090909;}

}

/*para md*/
@media (min-width:768px){
  .opcion-func 
  {
    margin-left: 20%;
    margin-right: -25% !important;
  } 
  .opcion-func:hover 
  {
    margin-left: 20%;
    margin-right: -45vmin !important;
    
  } 
  .opc-cont-md
  {
    justify-content:flex-end
  }
}
.opcion
{
  z-index: 2;
  height: 10vmin;
  color: #E9A032;
  transition: all 0.3s ease-out !important;
  font-size: 2.5vmin !important;
  padding-right: 0%;
  padding-left: 0%;
  
  box-shadow: 0px 0px 15px #00000038;
  background-color: #E9A032;
}
.opcion:hover
{
  
  height: 12vmin;
  /*height: 25vmin;*/
  color: #4b1e0b;
  transition: all 0.5s ease-out !important;
  font-size: 3.5vmin !important;
  padding-right: 0%;
  padding-left: 0%;
}



.icon
{
  height: 6vmin;
  width: auto;
}

.tortuga
{
  position: absolute;
  height: 50%;
  z-index: 3;
  filter: drop-shadow(0px 0px 20px #09090952);
}

.animalitos
{
  position: absolute;
  height: 55vmin;
  z-index: 1;
  filter: drop-shadow(0px 0px 20px #09090952);
}
.animalitos:hover
{
  filter: drop-shadow(0px 0px 35px #d9e4e2b0);
}


.libro-index
{
  box-shadow: 0px 0px 20px #1111114d;
  z-index: 5;
  width: 65vmin;
  height: auto;
  transition: ease-out 0.35s
}
.libro-index:hover
{
  box-shadow: 0px 0px 1.5vmin #6F3293;
  transition: ease-out 0.5s
}









