@font-face {
    font-family: "Bree Serif";
    src:
      local("Bree Serif"),
      url("../Recursos/Fuentes/BreeSerif-Regular.ttf") format("opentype"),
}
.font-sinopsis{font-family: "Bree Serif";}

@font-face {
font-family: "Neutra Display";
src:
    local("Neutra Display"),
    url("../Recursos/Fuentes/Neutraface\ Text\ Demi.otf") format("opentype"),
}
.font-esp{font-family: "Neutra Display";}

@font-face {
font-family: "Boler Regular";
src:
    local("Boler Regular"),
    url("../Recursos/Fuentes/BolerRegular\ Regular.ttf") format("opentype"),
}
.font-sub{font-family: "Boler Regular";}

@font-face {
font-family: "Verdana";
src:
    local("Verdana"),
    url("../Recursos/Fuentes/verdana.ttf") format("opentype"),
}
.font-default{font-family: "Verdana";}

.letra-sm{font-size: 2.5vmin;} 
.letra-md{font-size: 3.5vmin;} 
.letra-lg{font-size: 1.5vmin;} 

*{font-family: "Verdana";}
.transition{transition: ease-out 0.5s;}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
overflow-x: hidden;
}

/* Firefox*/
input[type=number] {
-moz-appearance: textfield;
}

.header{
    z-index: 10;
    background-color: #E9A032;
    height:10vmin;
    top:0px;
    position:sticky;
    box-shadow: 0px 2px 10px #36363693;
    overflow: hidden;
}
.footer
{
    box-shadow: 0px -3px 15px #dac6a2;
    border-block-start: 3px solid #dac6a2; 
}



.color-principal{background-color: #E9A032 !important;}
.color-secundario{background-color: #4b1e0b !important;}
.color-arena{background-color: #b7a179 !important;}
.font-principal{color: #E9A032 !important;}
.font-secundario{color: #4b1e0b !important;}
.font-blanco{color: #f0f0f0 !important;}
.font-negro{color: #090909 !important;}











