*{
    padding: 0;
    margin: 0;
    user-select: none;
}

.contenedorImg
{
    display: flex;
    gap: 3vmin;
}
body{height: 100vh;overflow: hidden;}
.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vmin;
    height: 100vh;
}
#img1J1{
    background-image: url(1A.webp);
    background-size: contain;   
    background-repeat: no-repeat;
    height: 50vmin;
    width:  44.5vmin;
    position: relative;
}
#img2J1{
    background-image: url(1B.webp);
    background-size: contain;
    background-repeat: no-repeat;
    height: 50vmin;
    width:  44.5vmin;
}
#img1J2{
    background-image: url(2A.webp);
    background-size: contain;
    background-repeat: no-repeat;
    height: 50vmin;
    width:  44.5vmin;
    position: relative;
}
#img2J2{
    background-image: url(2B.webp);
    background-size: contain;
    background-repeat: no-repeat;
    height: 50vmin;
    width:  44.5vmin;
    aspect-ratio: 1 16;
    position: relative;
}
#img1J3{
    background-image: url(3A.webp);
    background-size: contain;
    background-repeat: no-repeat;
    height: 60vmin;
    width:  44.5vmin;
    position: relative;
}
#img2J3{
    background-image: url(3B.webp);
    background-size: contain;
    background-repeat: no-repeat;
    height: 60vmin;
    width:  44.5vmin;
}
.difJ31, .difJ32, .difJ33, .difJ34, .difJ35, .difJ36,.difJ21, .difJ22, .difJ23,.difJ24, .difJ25,.difJ11, .difJ12, .difJ13, .difJ14, .difJ15{ 
    color: rgb(213, 213, 57);
    height: 20px;
    width: 20px;
    border-radius: 100%;
    position: absolute;
}
.difJ31{
    width: 2.4vmin;
    height: 2.4vmin;
    margin-top: 42.7vmin;
    margin-left: 21.5vmin;
}
.difJ32{
    width: 2.4vmin;
    height: 2.4vmin;
    margin-top: 38.4vmin;
    margin-left: 18.6vmin;
}
.difJ33{
    width: 5vmin;
    height: 4vmin;
    margin-top: 40vmin;
    margin-left: 0.5vmin;
}
.difJ34{
    width: 5vmin;
    height: 5vmin;
    margin-top: 35.4vmin;
    margin-left: 5.5vmin;
}
.difJ35{
    width: 10vmin;
    height: 10vmin;
    margin-top: 28vmin;
    margin-left: 18.6vmin;
}
.difJ36{
    width: 5.5vmin;
    height: 6vmin;
    margin-top: 35.4vmin;
    margin-left: 27.5vmin;
}
.difJ21 {
    width: 7vmin;
    height: 5vmin;
    margin-top: 43vmin;
    margin-left: 13vmin;
}
.difJ22{
    width: 7vmin;
    height: 5vmin;
    margin-top: 46vmin;
    margin-left: 34vmin;
}
.difJ23{
    width: 7vmin;
    height: 5vmin;
    margin-top: 12vmin;
    margin-left: 37vmin;
}
.difJ24{
    width: 2vmin;
    height: 2vmin;
    margin-top: 32.6vmin;
    margin-left: 23.4vmin;
}
.difJ25{
    width: 1.6vmin;
    height: 1.6vmin;
    margin-top: 33.2vmin;
    margin-left: 26.5vmin;
}
.difJ11{
    width: 18vmin;
    height: 8vmin;
    margin-top: 33vmin;
    margin-left: 1vmin;
    transform: rotate(-30deg);
}
.difJ12{
    width: 4vmin;
    height: 4vmin;
    margin-top: 35.4vmin;
    margin-left: 37.4vmin;
}
.difJ13{
    width: 4vmin;
    height: 5vmin;
    margin-top: 42vmin;
    margin-left: 33vmin;
}
.difJ14{
    margin-top: 27vmin;
    margin-left: 0.3vmin;
    height: 4vmin;
    width: 6vmin;
}
.difJ15{
    width: 3vmin;
    height:3vmin;
    margin-top: 45vmin;
    margin-left: 30vmin;
}