*{
    margin: 0;
    gap: 0;
    padding: 0;
    user-select: none;
    --color-principal : #837049b9;
    --color-secundario : #9254c58d;
    --color-arenaback :#b7a179dc;
    color: rgb(33, 33, 33);
    overflow: hidden;
}
#sopaLetras{
    border-collapse: collapse;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
}
.fondoSopa{
    position: absolute;
    margin-top: -5vmin;
    margin-left: 40vmin;
}
.fondoSopa>img{
    height: 110vmin;
}
.selected{
    background-color: var(--color-secundario)!important;
    padding: 6px;
    text-align: center;
    border: 0px;
    margin: 0;
}
.sopaContainer>div{
    position: relative;
}
.sopaContainer{
    background-image: url(FondoPresentacion.webp);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tElement{
    background-color: var(--color-arenaback);
    width: 20px;
    height: 10px;
    padding: 6px;
    text-align: center;
    margin: 0;
}
#palabras{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom-left-radius:10px ;
    border-bottom-right-radius:10px ;
}
#palabras>div{
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: var(--color-arenaback);
    height: 150px;
}
